<table width="100%" cellpadding="2" cellspacing="2" border="0">
 <tr>
  <td colspan="5" class="cella" id="nice1" style="border-width:1px">
   [smallfont]Willkommen <b>[user]</b>![smallfontend]
  </td>
 </tr>
 </table>
<table width="100%" cellpadding="2" cellspacing="0" border="0" style="border-collapse:collapse">
<tr>
  <td style="width:40px" class="header">
   &nbsp;
  </td>
  <td class="header">
   [smallfont]<b>Name</b>[smallfontend]
  </td>
  <td style="width:60px" class="header">
   [smallfont]<center><b>Threads</b></center>[smallfontend]
  </td>
  <td style="width:60px" class="header">
   [smallfont]<center><b>Postings</b></center>[smallfontend]
  </td>
  <td style="width:200px" class="header">
   [smallfont]<b>Letzte Nachricht</b>[smallfontend]
  </td>
 </tr>
 [boards]
 <tr>
  <td colspan="5" class="header">
   <table width="100%" cellpadding="0" cellspcing="0" border="0">
    <tr>
     <td class="header" style="border-width:0px">
      [smallfont]<b>[time]</b>[smallfontend]
     </td>
     <td class="header" style="text-align:right; border-width:0px">
      [smallfont][<a href="allreaded.php" class="head">Alle Boards als gelesen makieren</a>][smallfontend]
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>