 <tr>
  <td class="cellb" style="width:40px; border-width:1px" id="nice1">
   <center>[board_gif]</center>
  </td>
  <td class="cella" style="border-width:1px; padding:8px" id="nice1">
   [forum_name]
  </td>
  <td class="cellb" style="width:60px; border-width:1px" id="nice1">
   &nbsp;<center>[threads]</center>&nbsp;
  </td>
  <td class="cellb" style="width:60px; border-width:1px" id="nice1">
   <center>[posts]</center>
  </td>
  <td class="cella" style="width:200px; border-width:1px" id="nice1">
   [last]
  </td>
 </tr>