<tr>
 <form action="login.php" method="post">
 <td class="cella" style="text-align:center;">
  <table cellpadding="2" cellspacing="0" border="0">
   <tr>
    <td class="blank">
	 Name:<input type="text" name="login[name]" maxlength="30" id="border-tab" />
	</td>
	<td class="blank">
	 Passwort:<input type="password" name="login[pw]" maxlength="30" id="border-tab" />
	</td>
	<td class="blank">&nbsp;</td>
   </tr>
   <tr>
    <td class="blank">
     <a href="???"><font size="1">Passwort vergessen?</font></a>	
	</td>
	<td class="blank">
	 <a href="???"><font size="1">Noch nicht registriert?</font></a>
	</td>
	<td class="blank">
	 <input type="hidden" name="loginscript" value="[loginscript]" /> 
     <input type="submit" value=" Login " id="border-tab" /> 
	</td>
   </tr>
  </table>
 </td>
 </form>
</tr>