 <tr bgcolor="[color_row]">
  <td width="100" style="font-size:8pt; padding:4px">[name]</td>
  <td width="150" style="font-size:8pt; padding:4px">[mail]</td>
  <td style="font-size:8pt; padding:4px">[icq]</td>
  <td style="font-size:8pt; padding:4px">[hp]</td>
  <td width="100" style="font-size:8pt; padding:4px">[ort]</td>
  <td width="40" style="font-size:8pt; padding:4px; text-align:center">[posts]</td>
  <td style="font-size:8pt; padding:4px">[join]</td>
  <td style="font-size:8pt; padding:4px">[last]</td>
 </tr>