<table bgcolor="#000000" cellpadding="2" cellspacing="0" border="0" style="border-collapse:collapse; table-layout:fixed">
 <tr>
  <td class="header">
   &nbsp;<font size="1"><b>[messagetopic]</b></font>
  </td>
 </tr>
 <tr>
  <td class="cella" style="color:[color_err]; text-align:center">
   <br />
   [message]
   <br /><br />
  </td>
 </tr>
 <tr>
  <td class="header" style="text-align:center">
   [ <a class="head" href="javascript:history.back(0)">Zur&uuml;ck</a> ] [ <a class="head" href="index.php">Index</a> ]
  </td>
 </tr>
</table>