<tr bgcolor="[cellcol]">
 <td width="20"><center>[icon]</center></td>
 <td width="20"><center><input type="checkbox" name="pmdel[]" value="[pmid]" /></center></td>
 <td>&nbsp;[smallfont]<a href="pm.php?action=read&pmid=[pmid]">[topic]</a>[smallfontend]</td>
 <td width="100"><center>[smallfont]<a href="s_profile.php?username=[autor]">[autor]</a>[smallfontend]</center></td>
 <td width="200"><center>[smallfont][time][smallfontend]</center></td>
 <td width="70"><center>
 <table width="65" cellpadding="0" cellspacing="0" border="0">
  <tr>
   <td class="blank">
    <a href="pm.php?action=new&more=reply&pmid=[pmid]"><img src="templates/[styletemplate]/images/[back].gif" border="0" width="25" height="15" alt="Antworten [back_alt]" /></a>
   </td>
   <td class="blank">
    <a href="pm.php?action=new&more=zit&pmid=[pmid]"><img src="templates/[styletemplate]/images/pm_quote.gif" border="0" width="25" height="15" alt="Weiterleiten" /></a>
   </td>
  </tr>
 </table>
 </td>
 <td width="20">
  [saved]
 </td>
</tr>