
<tr>
 <td colspan="5" class="blank" style="padding-left:0px; padding-right:0px">
 <table width="100%" cellpadding="5" cellspacing="0" border="0" style="table-layout:fixed">
 <tr>
  <td class="cella">
   <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
	 <td class="blank" style="vertical-align:top" width="50%">
	  <b>Wer ist online?</b><br />
	  [smallfont]Onlinerekort <b>[rek]</b> User am [rekorttime]<br />
	  Zur Zeit [onlinecount] Benutzer online:<br />
	  <b>[onlineuser]</b> registrierte/r User und [onlineguest]<br />
	  [onlinelist][smallfontend]
	 </td>
	 <td class="blank" style="text-align:right; vertical-align:top" width="50%">
	  In den letzten 24 Stunden war/en <b>[onlinecount24]</b> User online.<br />
	  [smallfont][onlinelist24][smallfontend]
	 </td>
	</tr>
   </table>
  </td>
 </tr>
</table>
 </td>
</tr>