<form action="report.php" method="post" name="form">
<table width="100%" cellpadding="3" cellspacing="0" border="0" style="border-collapse:collapse">
 <tr>
  <td class="header" colspan="2" style="text-align:center">
   <b>Post der Boardleitung melden</b>
  </td>
 </tr>
 <tr>
  <td class="cellb" style="width:150px; vertical-align:top">&nbsp;Text</td>
  <td class="cellb">&nbsp;
   <textarea name="text" cols="75" rows="16" id="border-tab">[text]</textarea>
   <a href="javascript:textlen()">Textl&auml;nge pr&uuml;ffen</a>
  </td>
 </tr>
 <tr>
  <td class="header" colspan="2">&nbsp;</td>
 </tr>
</table>
[inputs]
<input type="hidden" name="send" value="1" />
<br />
<center><input type="submit" id="border-tab" value=" Senden " />
</form>
<table width="90%" cellpadding="3" cellspacing="0" border="0" style="border-collapse:collapse">
 <tr>
  <td class="header" style="text-align:center">
   <b>Post</b>
  </td>
 </tr>
 <tr>
  <td class="cellb">[post]</td>
 </tr>
</table>
</center>