
<tr>
 <td colspan="5" class="blank" style="padding-left:0px; padding-right:0px">
 <table width="100%" cellpadding="5" cellspacing="0" border="0" style="table-layout:fixed">
 <tr>
  <td class="cella">
   <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
	 <td class="blank" style="vertical-align:top" width="50%">
	  [smallfont]Das Forum hat <b>[usercount]</b> Benutzer, davon [aktivuser] aktiv.<br />
	  <b>[threadcount]</b> Thread/s | <b>[pollcount]</b> Umfrage/n | <b>[postcount]</b> Post/s[smallfontend]
	 </td>
	 <form action="aktivthreads.php" method="post">
	 <td class="blank" style="text-align:right; vertical-align:top" width="50%">
	  Aktive Threads der letzen 
	  <select name="days" size="1" id="border-tab">
	   <option value="2">2</option>
	   <option value="3">3</option>
	   <option value="5">5</option>
	   <option value="7">7</option>
	   <option value="14">14</option>
	   <option value="21">21</option>
	   <option value="30">30</option>
	  </select>
	  Tage <input type="submit" value="Los" id="border-tab" />
	 </td>
	 </form>
	</tr>
   </table>
  </td>
 </tr>
</table>
 </td>
</tr>