<table width="100%" cellpadding="0" cellspacing="0" border="0">
 <tr>
  <td class="header" colspan="4">
   &nbsp;[smallfont]<b>Statistikcenter</b>[smallfont]
  </td>
 </tr>
 <tr>
  <td class="cellb" colspan="4">
   &nbsp;[smallfont]<b>Persönliche Statistik</b>[smallfont]
  </td>
 </tr> 
 <tr>
  <td class="cellb" width="20">&nbsp;</td>
  <td class="cella" colspan="3" style="padding:10px">  
   [personal]
  </td>
 </tr>
 <tr>
  <td class="cellb" colspan="4">
   &nbsp;[smallfont]<b>Allgemeine Statistik</b>[smallfont]
  </td>
 </tr> 
 <tr>
  <td class="cellb" width="20">&nbsp;</td>
  <td class="cella" colspan="3" style="padding:10px">
   <center>  
	<table width="95%" cellpadding="1" cellspacing="0" border="0">
	 [board]
	</table>
   </center>
  </td>
 </tr>
 <tr>
  <td class="cellb" width="20">&nbsp;</td>
  <td class="cella" colspan="3" style="padding:10px">
   <center>  
	<table width="95%" cellpadding="1" cellspacing="0" border="0">
	 [db]
	</table>
   </center>
  </td>
 </tr>
 <tr>
  <td class="cellb" style="width:20px; border-right-width:0px">
   <img src="templates/[styletemplate]/images/space.gif" width="20" height="10" />
  </td>
  <td class="cellb" style="width:50%; border-left-width:0px">
	  &nbsp;[smallfont]<b>Top 10 Poster (nach Beiträgen)</b>[smallfontend]
  </td>
  <td class="cellb" style="width:20px; border-right-width:0px">
   <img src="templates/[styletemplate]/images/space.gif" width="20" height="10" />
  </td>
  <td class="cellb" style="width:50%; border-left-width:0px">
	  &nbsp;[smallfont]<b>Top 10 Boards (nach Beiträgen)</b>[smallfontend]
  </td>
 </tr>
 <tr>
  <td class="cellb" width="20">&nbsp;</td>
  <td class="cella" style="vertical-align:top; padding:10px">
   <center>
    <table width="95%" cellpadding="1" cellspacing="0" border="0">
     [userbyposts]
    </table>
   </center>
  </td> 
  <td class="cellb" width="20">&nbsp;</td>
  <td class="cella" style="vertical-align:top; padding:10px">
   <center>
    <table width="95%" cellpadding="1" cellspacing="0" border="0">
     [boardsbyposts]
    </table>
   </center>
  </td> 
 </tr>
 <tr>
  <td class="cellb" style="width:20px; border-right-width:0px">
   <img src="templates/[styletemplate]/images/space.gif" width="20" height="10" />
  </td>
  <td class="cellb" style="width:50%; border-left-width:0px">
	  &nbsp;[smallfont]<b>Top 10 Themen (nach Beiträgen)</b>[smallfontend]
  </td>
  <td class="cellb" style="width:20px; border-right-width:0px">
   <img src="templates/[styletemplate]/images/space.gif" width="20" height="10" />
  </td>
  <td class="cellb" style="width:50%; border-left-width:0px">
	  &nbsp;[smallfont]<b>Top 10 Themen (nach Views)</b>[smallfontend]
  </td>
 </tr>
 <tr>
  <td class="cellb" width="20">&nbsp;</td>
  <td class="cella" style="vertical-align:top; padding:10px">
   <center>
    <table width="95%" cellpadding="1" cellspacing="0" border="0">
     [threadsbyposts]
    </table>
   </center>
  </td> 
  <td class="cellb" width="20">&nbsp;</td>
  <td class="cella" style="vertical-align:top; padding:10px">
   <center>
    <table width="95%" cellpadding="1" cellspacing="0" border="0">
     [threadsbyviews]
    </table>
   </center>
  </td> 
 </tr>
 <tr>
  <td class="cellb" style="width:20px; border-right-width:0px">
   <img src="templates/[styletemplate]/images/space.gif" width="20" height="10" />
  </td>
  <td class="cellb" style="width:50%; border-left-width:0px">
	  &nbsp;[smallfont]<b>Die letzten 10 Posts</b>[smallfontend]
  </td>
  <td class="cellb" style="width:20px; border-right-width:0px">
   <img src="templates/[styletemplate]/images/space.gif" width="20" height="10" />
  </td>
  <td class="cellb" style="width:50%; border-left-width:0px">
	  &nbsp;[smallfont]<b>Monats-History der letzten 12 Monate (und des laufenden Monats)</b>[smallfontend]
  </td>
 </tr>
 <tr>
  <td class="cellb" width="20">&nbsp;</td>
  <td class="cella" style="vertical-align:top; padding:10px">
   <center>
    <table width="95%" cellpadding="1" cellspacing="0" border="0">
     [last10posts]
    </table>
   </center>
  </td> 
  <td class="cellb" width="20">&nbsp;</td>
  <td class="cella" style="vertical-align:top; padding:10px">
   <center>
    <table width="95%" cellpadding="0" cellspacing="0" border="0">
	 <tr>
	  <td class="cellb">&nbsp;[smallfont]<b>Monat</b>[smallfontend]</td>
	  <td class="cellb">&nbsp;[smallfont]<b>Neue Posts</b>[smallfontend]</td>
	  <td class="cellb">&nbsp;[smallfont]<b>Neue Mitglieder</b>[smallfontend]</td>
	 </tr>
     [last2years]
    </table>
   </center>
  </td> 
 </tr>
 <tr>
  <td class="header" colspan="4" style="text-align:right">
   [smallfont]<b>ThWC Statistikcenter &copy; by Mario Pischel 2003&nbsp;</b>[smallfontend]
  </td>
 </tr>
</table>
<br />
[zeichen]