<table width="100%" cellpadding="2" cellspacing="0" border="0" style="border-collapse:collapse">
 <tr>
  <td class="header" colspan="5">
   &nbsp;[smallfont]<b>Teampage</b>[smallfontend]
  </td>
 </tr>
 <tr>
  <td class="header">&nbsp;[smallfont]<b>Level</b>[smallfontend]</td>
  <td class="header">&nbsp;[smallfont]<b>Name</b>[smallfontend]</td>
  <td class="header">&nbsp;[smallfont]<b>E-Mail</b>[smallfontend]</td>
  <td class="header">&nbsp;[smallfont]<b>Privatnachricht</b>[smallfontend]</td>
  <td class="header">&nbsp;[smallfont]<b>Online</b>[smallfontend]</td>
 </tr>
 [teamrows]
 <tr>
  <td class="header" colspan="5">
   <center>[ <a class="head" href="javascript:history.back(0)">Zur&uuml;ck</a> ]</center>
  </td>
 </tr>
</table>