 <tr>
  <td class="cella" style="width:40px; text-align:center;">
   [icon]
  </td>
  <td class="cellb">
   [topic]
  </td>
  <td class="cella" style="width:60px; text-align:center;">
   <b>[replies]</b>
  </td>
  <td class="cellb" style="width:60px; text-align:center;">
   <b>[views]</b>
  </td>
  <td class="cella" style="width:100px; text-align:center;">
   [smallfont][autor][smallfontend]
  </td>
  <td class="cellb" style="width:200px; padding:4px;">
   [smallfont][last][smallfontend]
  </td>
 </tr>