<table width="100%" cellpadding="0" cellspacing="0" bordar="0">
 <tr>
  <td class="blank">
   &nbsp;<a href="reply.php?action=new&boardid=[b_id]" class="bg">[newthtext]</a>
   [pollopt1]
  </td>
  <td class="blank" style="text-align:right">
   <form action="board.php">
   &nbsp;[jump]
     &nbsp;&nbsp;<input type="submit" value=" Jump " id="border-tab"></input>&nbsp;&nbsp;
  </td>
   </form>
 </tr>
</table>
<br>
&nbsp;[smallfont][thread_nav][smallfontend]
<table cellpadding="2" cellspacing="0" border="0" style="table-layout:fixed; border-collapse:collapse">
 <tr>
  <td class="header" style="width:40px">
   &nbsp;
  </td>
  <td class="header">
   [smallfont]&nbsp;<b>Topic</b>[smallfontend]
  </td>
  <td class="header" style="width:60px">
   [smallfont]<center><b>Replies</b></center>[smallfontend]
  </td>
  <td class="header" style="width:60px">
   [smallfont]<center><b>Views</b></center>[smallfontend]
  </td>
  <td class="header" style="width:100px">
   [smallfont]&nbsp;<b>Autor</b>[smallfontend]
  </td>
  <td class="header" style="width:200px">
   [smallfont]&nbsp;<b>Letzte Nachricht</b>[smallfontend]
  </td>
 </tr>
 [threads]
 <tr>
  <td colspan="6" class="header">
   <table width="100%" cellpadding="0" cellspcing="0" border="0">
    <tr>
     <td class="blank">
      &nbsp;
     </td>
     <td class="blank" style="text-align:right">
      <a href="allreaded.php?boardid=[b_id]" class="head">[smallfont][Dieses Board als gelesen makieren][smallfontend]</a>
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
<br>
[smallfont]
&nbsp;<b>Berechtigungen:</b><br>
&nbsp;Neuen Thread beginnen: <b>[thread_permission]</b><br>
&nbsp;[pollopt2]
<br /><br />
&nbsp;<img src="templates/[styletemplate]/images/icon/fullalpha_new.gif" />&nbsp;
Neue Antworten seit Deinem letzten Besuch<br />
&nbsp;<img src="templates/[styletemplate]/images/icon/fullalpha.gif" />&nbsp;
Keine neuen Antworten seit Deinem letzten Besuch<br />
&nbsp;<img src="templates/[styletemplate]/images/moved.gif" />&nbsp;
Thread verschoben<br />
[zeichen]
[smallfontend]