<table cellpadding="2" cellspacing="0" border="0" style="border-collapse:collapse; table-layout:fixed">
 <tr>
  <td class="header">
   &nbsp;[smallfont]<b>[messagetopic]</b>[smallfont]
  </td>
 </tr>
 <tr>
  <td class="cellb" style="color:[error_col]; text-align:center">
   <br />
   <font color="[color_err]">[message]</font>
  </td>
 </tr>
 <tr>
  <td class="header" style="padding:5px; border-width:1px; text-align:center">
   [ <a href="javascript:document.forms.weiter.submit();" class="head">Weiter</a> ] [ <a href="index.php" class="head">Index</a> ]
  </td>
 </tr>
</table>