<table width="150" cellpadding="2" cellspacing="0" border="0">
 <tr>
  <td class="cella">
   <b><font size="1">General</font></b>
  </td>
 </tr>
 <tr>
  <td class="cellb">
   <font size="1" style="line-height:10pt">
   -&gt; <a href="index.php">Home</a><br />
   -&gt; <a href="dok.php">Dokumentation</a><br />
   -&gt; <a href="basics.php">Basics</a><br />
   -&gt; <a href="rank.php">R&auml;nge</a><br />
   -&gt; <a href="announc.php">Ank&uuml;ndigungen</a><br />
   -&gt; <a href="qlink.php">Quicklinks</a>
   </font>
  </td>
 </tr>
 <tr>
  <td class="cella">
   <b><font size="1">Boards und Kategorien</font></b>
  </td>
 </tr>
 <tr>
  <td>
   <font size="1" style="line-height:10pt">
   -&gt; <a href="boards.php">Edit boards/categories</a><br />
   -&gt; <a href="boards.php?action=newboard">Board hinzuf&uuml;gen</a><br />
   -&gt; <a href="boards.php?action=newcat">Category hinzuf&uuml;gen</a>
   </font>
  </td>
 </tr>
 <tr>
  <td class="cella">
   <b><font size="1">Andere</font></b>
  </td>
 </tr>
 <tr>
  <td>
   <font size="1" style="line-height:10pt">
   -&gt; <a href="calendar.php">Kalender</a>
   </font>
  </td>
 </tr>
 <tr>
  <td class="cella">
   <b><font size="1">Groups</font></b>
  </td>
 </tr>
 <tr>
  <td>
   <font size="1" style="line-height:10pt">
   -&gt; <a href="groups.php?action=list">View / edit groups</a><br />
   -&gt; <a href="groups.php?action=create">Create group</a>
   </font>
  </td>
 </tr>
 <tr>
  <td class="cella">
   <b><font size="1">User</font></b>
  </td>
 </tr>
 <tr>
  <td>
   <font size="1" style="line-height:10pt">
   -&gt; <a href="userban.php?action=chooseUser">User bannen/freigeben</a><br />
   -&gt; <a href="useredit.php?action=searchform">User suchen/editieren</a><br />
   -&gt; <a href="useredit.php?action=adduser">User registrieren</a><br />
   -&gt; <a href="useredit.php?action=deluser">User l&ouml;schen</a>
   </font>
  </td>
 </tr>
 <tr>
  <td class="cella">
   <b><font size="1">Styles</font></b>
  </td>
 </tr>
 <tr>
  <td>
   <font size="1" style="line-height:10pt">
   -&gt; <a href="style.php">Stylelist und edit</a><br />
   -&gt; <a href="style.php?action=newStyle">Style anlegen</a><br />
   </font>
  </td>
 </tr>
 <tr>
  <td class="cella">
   <b><font size="1">Andere</font></b>
  </td>
 </tr>
 <tr>
  <td>
   <font size="1" style="line-height:10pt">
   -&gt; <a href="versioninfo.php">Versionsinfo</a>
   </font>
  </td>
 </tr>
 <tr>
  <td class="cella">
   <b><font size="1">Moderatoren</font></b>
  </td>
 </tr>
 <tr>
  <td>
   <font size="1" style="line-height:10pt">
   -&gt; <a href="modlog.php">Modlogs</a><br />
   -&gt; <a href="adboards.php">Adminboards</a>
   </font>
  </td>
 </tr>
</table>